<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="preload" href="/css/ZillaSlab-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link href="/css/mdn.css" rel="stylesheet" type="text/css" />
    <link href="/css/wiki.css" rel="stylesheet" type="text/css" />
    <link href="/css/locale-fr.css" rel="stylesheet" type="text/css" />
</head>
<style>
    body {
        width:816px;
        height:1110px;
    }
    .main {
        width:744px;
        height:1040px;
        padding: 0px 0px 0px 35px;
    }
    .cost{
        width:48px;
    }
    .picture{
        width: 100%;
        height: 500px!important;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .cost-anon
      {
        background: center / contain  no-repeat url("/images/anon-icon.svg");
        color:white;
        font-size:48px;
        padding:12px
      }

      .power{
        padding-top: 17px;
        margin-left: 10px;
        background: black;
        width: 67px;
        text-align: center;
        color: white;
        font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
        font-size: 26px;
      }

      .headm {
        width: 744px;
        padding-top: 35px;
        margin-left:10px;
      }

</style>
<body>
    <header id="main-header" class="header-main headm">
        <div class="nav-toolbox-wrapper">
            {{#card.att}}
            <div class="power">{{card.att}}/{{card.def}}</div>
            {{/card.att}}
            <div id="toolbox" class="toolbox">
                {{{card.costHtml}}}
            </div>
        </div>

    </header>
    <main class="main" id="content" role="main">

        <!-- heading -->
        <div id="wiki-document-head" class="document-head">
            <div class="center">
                <!-- action buttons -->
                <div class="document-actions">

                </div>

                <div class="document-title">
                    <h1>{{card.name}}</h1>
                </div>
            </div>
        </div>

        <div id="toc" class="toc">
            <div class="center">
                <div class="toc-head">Tags :</div>
                <ol class="toc-links">
                    {{#card.tags}}
                        <li><a href="#Constructeur" rel="internal">{{.}}</a></li>
                    {{/card.tags}}

                </ol>
            </div>
        </div>


        <div class="center clear">


            <div class="wiki-main-content" id="document-main">
                <div class="center">
                <!-- start the main content container -->
                    <div class="picture" style="background-image: url('{{card.image}}');"></div>
                    <div class="note"><p>{{{card.description}}}</p></div>
                </div>
            </div> <!-- ends "main-content" -->

        </div>
    </main>
</body>
</html>